<div class="matches" data-controller="matches">
  <% @matches.each do |match| %>
    <div class="match" data-match-id="<%= match.id %>">
      <p><%= match.home_team.name %> x <%= match.away_team.name %></p>
      <p><span data-team="home">0</span> x <span data-team="away">0</span></p>
      <div>
        <%= link_to "Detalhes", match_path(match) %>
      </div>
    </div>
    <hr>
  <% end %>
</div>
